<!DOCTYPE html>
<html>
    <head>
        <title>Sign-in Page</title>
        <style type="text/css">
            .error {
                color: red;
            }
            body {
                background-image: url('https://photos-4.dropbox.com/t/2/AABWM7osUVudyyCg3dmLatHEk3UWvMzFp_XM8_gcLlPa6g/12/485243049/jpeg/32x32/1/_/1/2/vf00460.jpg/ENrA3fcDGCYgBygH/T_lVAbroPsXfWKEPG6ciS6eruQ1GU8tDS2H30iRHTWc?size=2048x1536&size_mode=3');
                background-size: 1350px 720px;
                font-family: Arial, Helvetica, sans-serif;
            }
        </style>
    </head>
    <body>
        <h1>
            Absolutely Pointless Form
        </h1>

        {% block content %}
        {% endblock %}
    </body>
</html>